body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
}

.container {
  width: 600px;
  margin-top: 40px;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 12px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#output {
  background: #1e293b;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
}